{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">글 번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제</a>
<a href="/articles">글 목록으로 돌아가기</a>

{{>comments/_comments}}
{{>layouts/footer}}